# Exploratory Data Analysis

### Import packages

In [1]:
import pandas as pd

### Players data

In [2]:
ROOT = '/Users/augustocardosoagostini/Desktop/Outros Documentos/Documentos Gerais/trainings/dbt_airflow/project/analytical-assessment/technical-assessment/data'

df_players = pd.read_csv(f"{ROOT}/Sample_data_-_Technical_Interview_-_players.csv")

df_players.head()

,id,affiliate_id,country_code,is_kyc_approved,created_at,updated_at
0,1,1.0,DE,True,2024-01-10 17:07:01+00:00,2024-02-08 09:05:26+00:00
1,2,NaN,BR,True,2024-02-09 19:19:27+00:00,2024-03-05 08:06:20+00:00
2,3,2.0,BR,True,2024-02-13 05:40:50+00:00,2024-02-17 10:58:17+00:00
3,4,3.0,GB,True,2024-02-24 04:35:15+00:00,2024-03-05 19:19:09+00:00
4,5,4.0,AU,False,2024-03-27 16:28:29+00:00,2024-04-01 05:38:15+00:00

In [3]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               11 non-null     int64
 1   affiliate_id     9 non-null      float64
 2   country_code     11 non-null     object
 3   is_kyc_approved  11 non-null     bool
 4   created_at       11 non-null     object
 5   updated_at       11 non-null     object
dtypes: bool(1), float64(1), int64(1), object(3)
memory usage: 579.0+ bytes

### Affiliates data

In [4]:
df_affiliates = pd.read_csv(f"{ROOT}/Sample_data_-_Technical_Interview_-_affiliates.csv")

df_affiliates.head()

   id    code   origin                redeemed_at
0   1  DWEHSP  YouTube  2024-01-10 17:07:01+00:00
1   2  QGKTBC  Discord  2024-02-13 05:40:50+00:00
2   3  YRLUJA        X  2024-02-24 04:35:15+00:00
3   4  ZXCVBN      NaN  2024-03-27 16:28:29+00:00
4   5  POIUYT  YouTube  2024-04-16 19:27:32+00:00

In [5]:
df_affiliates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10 non-null     int64
 1   code         10 non-null     object
 2   origin       8 non-null      object
 3   redeemed_at  8 non-null      object
dtypes: int64(1), object(3)
memory usage: 448.0+ bytes

### Transactions data

In [6]:
df_transactions = pd.read_csv(f"{ROOT}/Sample_data_-_Technical_Interview_-_transactions.csv")

df_transactions.head()

   id                  timestamp  player_id      type  amount
0   1  2024-01-10 17:07:01+00:00          7  Withdraw  213.13
1   2  2024-02-09 19:19:27+00:00          4  Withdraw  182.64
2   3  2024-02-13 05:40:50+00:00          8  Withdraw  184.22
3   4  2024-02-24 04:35:15+00:00          5   Deposit  304.94
4   5  2024-03-27 16:28:29+00:00          7  Withdraw  525.23

In [7]:
df_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10 non-null     int64
 1   timestamp  10 non-null     object
 2   player_id  10 non-null     int64
 3   type       10 non-null     object
 4   amount     10 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 528.0+ bytes

### Check IDs

In [8]:
# Check if there are duplicated ids in transactions and players (player_id)
print(df_transactions['player_id'].duplicated().sum())
print(df_players['id'].duplicated().sum())
print(set(df_players['id']) - set(df_transactions['player_id']))

4
1
{1, 2, 6, 9}

In [9]:
# Check if there are duplicated ids in affiliates and players (affiliate_id)
print(df_affiliates['id'].duplicated().sum())
print(df_players['affiliate_id'].duplicated().sum())
print(set(df_affiliates['id']) - set(df_players['affiliate_id']))

0
2
{9, 10}

In [10]:
df_players.groupby('id', as_index=False, dropna=False).count()

   id  affiliate_id  country_code  is_kyc_approved  created_at  updated_at
0   1             1             1                1           1           1
1   2             0             1                1           1           1
2   3             1             1                1           1           1
3   4             1             1                1           1           1
4   5             1             1                1           1           1
5   6             0             1                1           1           1
6   7             1             1                1           1           1
7   8             1             1                1           1           1
8   9             1             1                1           1           1
9  10             2             2                2           2           2

In [11]:
df_players[df_players['id']==10]

,id,affiliate_id,country_code,is_kyc_approved,created_at,updated_at
9,10,8.0,CA,False,2024-10-14 23:45:05+00:00,2024-11-04 11:19:33+00:00
10,10,8.0,CA,True,2024-10-14 23:45:05+00:00,2024-11-06 12:31:09+00:00